.Text {
    word-break: break-all;
}

.RightTopImg {
    display: flex;
    flex-direction: row; /* Размещаем текст и изображение в одной строке */
}

.PageText {
    flex: 1; /* Растягиваем текст на всю доступную ширину */
    display: flex;
    flex-direction: column;
    order:2
}

.PageImageContainer {
    width: 29.56%; /* Ширина контейнера для изображения */
    height: 43.86%; /* Высота контейнера для изображения */
    overflow: hidden;
    align-self: flex-start; /* Выравнивание по верхнему краю */
    order:1
}

.PageImage {
    width: 100%;
    height: 100%;
}

.ButtonContainer {
    align-self: flex-start ; /* Помещаем кнопку в левый нижний угол */
    margin-top: auto; /* Чтобы кнопка была в левом нижнем углу */
}
