.LoreOneBody{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.Book, .HiddenBook {
    margin-top: 2.56%;
    width: 69.6%;
    height: 85.8%;
    overflow: hidden;
    z-index: 3;
    transition: opacity 2s;
    border: 0.85vh solid #575130;
}

.Book {
    opacity: 1;
}

.HiddenBook {
    opacity: 0;
}

.BackImg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.effects, .noEffects {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    transition: opacity 2s;
}

.effects {
    opacity: 1;
}

.noEffects {
    opacity: 0;
}

.BackButton{
    margin-top: 2.5%;
    margin-bottom: 1.94%;
    border-radius: 25%;
    height: 3.8889%;
    width: 8.28125%;
    background-color: rgba(50, 60, 70, 0.2);
    z-index: 3;
}
.rounded-button {
    position: relative;
    display: inline-block;
    color: rgb(201, 197, 177);
    font-size: 1.3vh;
    border: none;
    border-radius: 1.85vh;
    overflow: hidden;
    border: 0.185vh solid #9aa7b4;
  }
  
  .left-semicircle,
  .right-semicircle {
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: #8693a0;
  }
  
  .left-semicircle {
    left: -20px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .right-semicircle {
    right: -20px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .button-content {
    position: relative; 
    z-index: 1;
    
  }
  .BackButton:hover {
    background-color: rgba(0, 123, 255, 0.2); /* подсветка при наведении */
    cursor: pointer;
  }