
.BookStyle {
    background-color: rgb(24, 24, 58);
    width: 100%; /* Установите ширину и высоту для корректного отображения */
    height: 100%; /* Установите ширину и высоту для корректного отображения */
}