.HeaderContainer {
  display: flex;
  flex-direction: row;
  height: 5%;
}
.NavContainer {
  width: 91%;
  height: 100%;
}
.SideTurnButton {
  padding-top: 0.3%;
  height: 100%;
  width: 4.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.3vh;
  color:rgb(212, 153, 75);
  
}
.HeadTurnButton {
  padding-top: 0.3%;
  height: 100%;
  width: 4.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.3vh;
  color:rgb(212, 153, 75);
}
#HeadAndSide {
  height: 100vh;
  width: 100vw;
}
