.HeaderContainer {
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 100%;
}
.NavContainer {
  width: 91%;
  height: 100%;
}
.SideTurnButton, .SideTurnButtonBack {
  padding-top: 0.3%;
  height: 100%;
  width: 4.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.3vh;
  color:rgb(212, 153, 75);
  z-index: 99;
  transition: transform .5s linear;
}
.SideTurnButton{
  transform: rotate(90deg);   
}
.HeadTurnButtonBack, .HeadTurnButton{
  padding-top: 0.3%;
  height: 100%;
  width: 4.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.3vh;
  color:rgb(212, 153, 75);
  z-index: 999;
  transition: transform .5s linear;
}
.HeadTurnButtonBack{
transform: rotate(180deg); 
}
#HeadAndSide {
  height: 100vh;
  width: 100vw;
}
.SideBarContainer{
  position: fixed;
  height: 100%;
  width: 18%;
  top: 0%;
  left: 0%;
  z-index: 3;
  transition: left 1.2s linear;
}
.SideBarContainerHidden{
  position: fixed;
  height: 100%;
  width: 18%;
  top: 0%;
  left: -40%;
  z-index: 3;
  transition: left 1.2s linear;
}
.SideBarEffects, .noSideBarEffects {
  position: fixed;
  top:0%;
  left: 0%;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  transition: opacity 1.2s;
  z-index:2
}

.SideBarEffects {
  opacity: 1;
}
.noSideBarEffects{
  opacity: 0;
}